* {
    margin: 0%;
    padding: 0%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 20px 20px 20px; */
    position: absolute;
    z-index: 999;
    border: 1px solid black;
    width: 100%;
}

header h2 {
    padding: 10px 20px 20px 20px;
}

.header-menus {
    display: flex;
    gap: 30px;
    padding: 10px 20px 20px 20px;
}

.header-menus a {
    text-decoration: none;
    color: black;
}


.home-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 40px 40px;
    border: 1px solid black;
}

.Home-up-about {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    margin-left: 200px;
}

.Home-up-about h1{
    font-size: 50px;
}
.Home-up-about p{
    font-size: 18px;
}
.hero {
    position: relative;
}

.back-img-home-up {
    z-index: 1;
    /* border: 1px solid black; */
    width: 600px;
    height: 500px;

}

.my-img-home-up {
    /* border: 1px solid black; */
    position: absolute;
   top: 81px;
    left: 258px;
    width: 250px;
    height: 420px;
    border-radius: 0px 0px 230px 251px;
    z-index: 2;
}